<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../views/css/foundation.css" />
    <link rel="stylesheet" href="../../views/css/simpleLogin.css" />
    <link rel="stylesheet" href="../../views/css/foundation-icons.css" />
  </head>
  <body>
    <div class="grid-x">
      <div class="cell grid-y auto grid-frame">
        <p>Login</p>

        <!--Form Start-->
        <!--need to add data-abide for form validation.-->
        <form>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell input-group input-group-rounded">
              <span class="input-group-label"><i class="fi-torso"></i></span>
              <input
                class="input-group-field"
                type="email"
                placeholder="Username or email"
              />
            </div>
            <div class="large-12 cell input-group input-group-rounded">
              <span class="input-group-label"><i class="fi-key"></i></span>
              <input
                class="input-group-field"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
        </form>
        <!--Form End-->

        <div class="grid-x grid-padding-x grid-x">
            <div class="large-6 medium-6 cell">
              <input id="remembermeCheckbox" type="checkbox" /><label for="remembermeCheckbox"
                >Remember me?</label
              >
            </div>
            <div class="large-6 medium-6 cell">
              <a href="#" class="button">Learn More</a>
            </div>
          </div>

      </div>

      <div class="cell grid-y auto sideBackground">
        <!--empty-->
      </div>
    </div>

    <script src="../../views/js/vendor.js"></script>
    <script src="../../views/js/foundation.js"></script>
  </body>
</html>
