<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../views/css/foundation.css" />
    <link rel="stylesheet" href="../../views/css/simpleLogin.css" />
    <link rel="stylesheet" href="../../views/css/foundation-icons.css" />
  </head>
  <body>
    <div class="grid-x borderOutline">
      <div class="cell grid-y auto grid-frame borderOutline">
        <p class="borderOutline">Login</p>

        <!--Form Start-->
        <form data-abide>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell input-group input-group-rounded">
              <span class="input-group-label"
                ><i class="fi-arrow-left"></i
              ></span>
              <input
                class="input-group-field"
                type="email"
                placeholder="Username or email"
              />
            </div>
            <div class="large-12 cell">
              <input type="password" placeholder="Password" />
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 cell">
              <input id="checkbox1" type="checkbox" /><label for="checkbox1"
                >Remember me?</label
              >
            </div>
          </div>
        </form>
        <!--Form End-->
      </div>

      <div class="cell grid-y auto borderOutline sideBackground">
        <!--empty-->
      </div>
    </div>

    <script src="../../views/js/vendor.js"></script>
    <script src="../../views/js/foundation.js"></script>
  </body>
</html>
