.borderOutline {
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
}

.sideBackground {
  background-image: url("../../views/img/loginBeach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group-rounded .input-group-field {
  border-radius: 0 5000px 5000px 0;
  padding-left: 1rem;
}
